<div class="container">
  <div ng-if="!$ctrl.registered">
    <h3>Not Signed Up Yet.</h3>
    <p><a ui-sref="public.signup">Sign up Now!</a></p>
  </div>

  <div ng-if="$ctrl.registered">
    <h2>My Information</h2>
    <p><strong>First Name:</strong> {{$ctrl.user.firstName}}</p>
    <p><strong>Last Name:</strong> {{$ctrl.user.lastName}}</p>
    <p><strong>Email:</strong> {{$ctrl.user.email}}</p>
    <p><strong>Phone:</strong> {{$ctrl.user.phone}}</p>

    <h3>Favorite Dish</h3>
    <p><strong>{{$ctrl.user.favoriteItem.name}}</strong></p>
    <img ng-src="images/menu/{{ $ctrl.user.favoriteItem.short_name }}.jpg"
         alt="{{$ctrl.user.favoriteItem.name}}" class="img-responsive" style="max-width:250px;">
    <p>{{$ctrl.user.favoriteItem.description}}</p>
  </div>
</div>
